[submodule "providers/pia"]
	path = providers/pia
	url = https://github.com/passepartoutvpn/api-source-pia
[submodule "providers/tunnelbear"]
	path = providers/tunnelbear
	url = https://github.com/passepartoutvpn/api-source-tunnelbear
[submodule "providers/mullvad"]
	path = providers/mullvad
	url = https://github.com/passepartoutvpn/api-source-mullvad
[submodule "providers/windscribe"]
	path = providers/windscribe
	url = https://github.com/passepartoutvpn/api-source-windscribe
[submodule "providers/protonvpn"]
	path = providers/protonvpn
	url = https://github.com/passepartoutvpn/api-source-protonvpn
[submodule "providers/nordvpn"]
	path = providers/nordvpn
	url = https://github.com/passepartoutvpn/api-source-nordvpn
[submodule "providers/vyprvpn"]
	path = providers/vyprvpn
	url = https://github.com/passepartoutvpn/api-source-vyprvpn
[submodule "providers/hideme"]
	path = providers/hideme
	url = https://github.com/passepartoutvpn/api-source-hideme.git
[submodule "providers/torguard"]
	path = providers/torguard
	url = https://github.com/passepartoutvpn/api-source-torguard
[submodule "providers/csv"]
	path = providers/csv
	url = https://github.com/passepartoutvpn/api-source-csv
[submodule "providers/surfshark"]
	path = providers/surfshark
	url = https://github.com/passepartoutvpn/api-source-surfshark
